<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Placed Successfully
            <br /> <br />
        </h1>
        <img src="~/Images/palm-leaf.jpg" width="500px" height="400px" />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br/>
        Your order has been placed successfully!
        <br />
    </div>
</div>
