@using Microsoft.EntityFrameworkCore;
@using Areas.Admin.Models;
@model IEnumerable<Product>

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card">
                        <img src="@product.ImageURL" style="height:400px;" class="card-img-top rounded img-fluid"/>
                        <div class="pl-1">
                            <p class="card-title h5 text-primary">@product.Title</p>
                            <p class="card-title text-secondary">@product.Author</p>
                            <p>List Price : @product.ListPrice.ToString()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
